/* RESET CSS ON THE TARGET PAGE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/abstract2.gif");
    background-size: 100vw 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    height: 100vh;
}

/* FOR MEDIUM WINDOWS */
@media (min-width: 580px) {
    body {
        font-size: 14px;
    }
}

/* FOR BIG WINDOWS */
@media (min-width: 1200px) {
    body {
        font-size: 16px;
    }
}

/*=============================================*/
/* HEADER SETTINGS */

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(2, 63, 99);
    overflow: auto;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    font-size: 1.5em;
    width: 25%;
    text-align: center;
}

.menu a {
    color: white;
    display: block;
    font-weight: bold;
    opacity: 1;
    padding: 15px 20px;
    text-decoration: none;
    transition: all 800ms ease;
}

.menu a:hover {
    color: lightblue;
    animation: change_menu_item_background 900ms infinite;
}

@keyframes change_menu_item_background {
    0% {background-color: rgb(2, 63, 99);}
    33% {background-color: #1e4e7e;}
    66% {background-color: #2b4e70;}
    100% {background-color: rgb(2, 63, 99);}
}

header .site-title,
header .site-subtitle {
    color: whitesmoke;
    text-align: center;
}

header .site-subtitle {
    font-size: 2.17em;
}

.site-title {
    font-size: 6em;
    font-family: 'Permanent Marker', cursive;
    font-weight: lighter;
}


.site-subtitle {
    font-family: 'Kelly Slab', cursive;
    font-weight: lighter;
    font-size: 1.8em;
    padding: 0.5em;
    text-align: center;
}

/*=============================================*/
/* PAGES SETTINGS */


.page {
    min-height: 100vh;
    color: white;
    font-weight: bold;
    min-width: 100vw;
}

.page h2 {
    font-size: 3em;
    line-height: 5.5em;
    margin-bottom: -1em;
}

.grid {
    gap: 2.5em;
}

/*=============================================*/
/* PORTFOLIO SETTINGS */


.portfolio .grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 80vw;
}

@media (min-width: 45em) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 40vw);
    }
}

@media (min-width: 100em) {
    .portfolio .grid {
        grid-template-columns: repeat(4, 20vw);
    }
}


.portfolio .img-portfolio {
    border-radius: 15%;
    display: block;
    height: 19em;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.portfolio .img-portfolio:hover {
    border: solid 0.3em lightblue;
}

figcaption.img-caption {
    font-size: 1.5em;
    padding: 1.2em;
}


/*=============================================*/
/* CONTACT SETTINGS */
.certifications .img-cert img {
    width: 5em;
    height: 5em;
}


/*=============================================*/
/* CONTACT SETTINGS */


.contact .icons {
    text-align: center;
}

.contact a {
    color: white;
    font-size: 4.8em;
    padding: 0.3em;
}

.contact a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px #ffffff;
}
