/* RESET CSS ON THE TARGET PAGE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/abstract2.gif");
    background-size: auto 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    height: 100vh;
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
        background-size: auto 100vh;
        height: 100vh;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(2, 63, 99);
    position: fixed;
    opacity: 0.65;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    font-size: 1.5em;
}

.menu a {
    display: block;
    color: white;
    opacity: 1;
    padding: 10px 20px;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title,
.site-subtitle {
    color: whitesmoke;
    text-align: center;
}

.site-title {
    font-size: 4em;
}
.site-subtitle {
    font-style: italic;
}